/********** MAIN **********/
#main
	p
		font-size: 20px
		margin: 0
		margin-bottom: 20px
		color: #FFF
	.fancyButton
		margin-bottom: 50px
		padding: 8% 0 0   
	#introImage
		width: 100%
		height: calc(100vh - 80px)
		background-image: url('../images/introImage.jpg')
		background-position: 0% 0%
		background-repeat: no-repeat 
		-webkit-background-size: cover
		    -o-background-size: cover
		    background-size: cover
		cursor: url('../images/pointer-down.png'), auto
		span
			position: absolute
			bottom: 5vh
			right: 5vw
			img
				width: 20vw
				height: auto 
	#introText
		// display: none
		margin: 50px 0
		