/********** RESPONSIVE **********/

/********** NAVBAR **********/
@media(max-width: 768px)
	.navbar
		.navbar-header
			margin-left: 0

@media(max-width: 414px)
	.navbar
		.navbar-header
			img+img
				width: 50vw 
	
/********** PROJECT **********/
@media(max-width: 992px)
	#proyectos
		#projectView
			#projectImages
				height: 10vh
				.image
					height: 100%

@media(max-width: 768px)
	#proyectos
		#projectView
			#projectImages
				height: 25vh
				.image
					height: 50%