/********** RESPONSIVE **********/

/********** GENERAL **********/
@media(max-width: 768px)
	.tile
		height: auto
		max-height: none
		.hoverSlider
			position: relative
		&:hover
			.background
				+transform(translateY(0))

/********** NAVBAR **********/
@media(max-width: 768px)
	.navbar
		.navbar-header
			margin-left: 0

@media(max-width: 414px)
	.navbar
		.navbar-header
			img+img
				width: 50vw 
	
/********** PROJECT **********/
@media(max-width: 1024px)
	#proyectos
		#projectSlider
			.fancyButton
				p
					font-size: 2.5vw!important
			.projectTitle
				font-size: 6vw!important
			.title
				font-size: 12px!important  
					
@media(max-width: 992px)
	#proyectos
		#projectImages
			height: 100px!important
			.image
				height: 100%!important

@media(max-width: 768px)
	#proyectos
		#projectSlider
			.fancyButton
				p
					font-size: 2.5vw!important
			.title
				font-size: 6px!important  
		#projectImages
			height: 200px!important
			.image
				height: 50%!important
					
/********** ART **********/
@media(max-width: 768px)
	#arte
		padding-top: 10px
		.tile
			.background
				height: 300px